.notion-callout-block > div > div {
    background-color: #efe !important;
    border: 2px solid green;
    border-radius: 0.5ex !important;
}
.notion-header-block {
    border-bottom: 4px solid #8b8;
} 
